body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 0%;
    box-sizing: border-box;
   
}

.header_block{
    width: 100%;
    height: 900px;
    background-image: url(../img/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  
    
    
}


.top_menu{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;    
    margin-right: 21.09%;
    list-style-type: none;
    margin-bottom: 0;
   
}

a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    color: #FFFFFF;
    margin-right: 40px;
    margin-top: 40px;
    line-height: 1;
    
}

.line{
    
    
    height: 0;
    opacity: 0.5;
    border: 1px solid #A1A1A1;
   margin-top: 40px;
    left: 0;
    
}
a.top_menu_a:after { 
    position: relative;
    display: block; 
    content: "";
    height: 4px;
    width: 0; 
    background-color: #FFFFFF; 
    border:  #FFFFFF;
    top: 39px;
    
    }
    a.top_menu_a:hover:after,
    a.top_menu_a:focus:after {
    width: 100%;
    }
   
    .header_text{
        margin: auto;
        margin-top: 220px;
        width: 43.18%;
    }

p {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.header_text_p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.btn{
    margin: auto;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background: #4985FF;
    text-align: center;
    box-shadow: 0px 0px 10px;
    margin-top: 50px;
   

}
.btn_a{
    display: flex;
    width: 100%;
    height: 100%;
    
   
}
.btn_p{
  
    margin: auto;
}
    .content_text {
        width: 38.49%;
        margin: 110px auto;

    }
h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.text_h2{
    text-align: center;
}

.text{
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.icon_ellips{
    
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.icon_ellips_interior {
    
    border: 1px solid #4985FF;
    box-sizing: border-box;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center
}

.content_text_icon{
    display: flex;    
}

.text_icon{
    margin-left: 18px;
    margin-bottom: 12px;
    margin-top: 27.5px;
}

h3{
    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    
   
}

.text_p{
   width: 222px;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    white-space: normal;
    margin-top: 12px;
    margin-bottom: 0;
    
}

.block_center{
    display: flex;
    align-items: center;
    justify-content: center
}

.btn_content{
    margin-top: 55px;   
}


.wrapper{
    width: 100%;
    height: 14.12%;
    margin-top: 105px;
    background-color: #F6F6F8;   
    padding-bottom: 70px; 
}

.wrapper_content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    padding-top: 100px;
     width: 57.81%;   
}

.wrapper_text{
  width: 50% ;
  margin-right: 6.3%;
}

.wrapper_text_p{
    text-align: left;
}



.wrapper_a{
    text-decoration-line: underline;
    color: #4985FF;
    text-align: left;
}

.wrapper_line{
    height: 0px;
    width: 57.81%;
    margin-top: 90px;
    border: 1px solid #E0E0E0;
    
}


.content_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
   
}


.content_pic_p {
    margin: 0;
    margin-left: 20px;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}

.pic_p{
    margin: auto;
    margin-top: 17px;
}

.content{
    margin-left: 5.32%;
}

.content_block{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-top: 70px;
    margin-left: 26.04%;
    margin-right: 26.04%;
}


.block {
    width: 100%;
    height: 490px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    padding-top: 100px;
    
}

.block_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-left: 21.09%;
    padding-right: 21.09%;
}

.block_button{
    margin-left: 19.27%;
}

.block_btn :first-child{
    color: #FFFFFF;
}

.button3{
    margin: 0;
    
}

.block_a{
    margin:0;
}

.block_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5%;
    padding-left: 21.09%;
    padding-right: 21.09%;
    
}

.content_img{
    margin-left: 1.04%;
    
}



.text_content_img{
    margin-top: 30px;
    width: 80%;
}

.block_img_h3 {
    margin-top: 30px;
}

.block_img_h3 :first-child{
    color: #4985FF;
}

.block_line{
    margin-top:40%;
    

}

.wrapper_project{
    padding-top: 100px;
}

.text_project{
    margin: auto;
}

.wrapper_project{
    width: 100%;
    height: 776px;
}

.project_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}

.content_img_block{
    margin-left: 30px;
}


.btn_project{
    margin-top: 63px;
}

.content_video{
    background-image: url(../img/content_video.svg);
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12.28%;

}

.h2__video {
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.p__video{
    margin-top: 5.26%;
    margin-bottom: 0;
}

.video{
    position: absolute;
    width: 50.50%;
    height: 75.44%;
    top: 38.6%;
   
}

.img_video{
    width: 100%;
    height: 100%;
    padding: 0;
}

.wrapper_video {
    position: relative;
}